body {
  background-color: #f8f8f8;
}
#social_but {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  position: relative;
  right: 40px;
  top: 65px;
  z-index: 5;
}
#social_but ul {
  padding: 10px;
  display: block;
  list-style: none;
  margin: 0;
}
.smbt-social-icons {
  text-align: center !important;
}
#social_but li {
  height: 26px;
  top: -5px;
}
section#main-body {
  padding: 0;
}
.fetures-place{
  text-align: center;
  background: #fff;
  margin: -10px 0px;
  padding: 30px 20px;
  color: #292929;
  -webkit-box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.04);
  -moz-box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.04);
  box-shadow: 0px 0px 43px -1px rgba(0, 0, 0, 0.04);
  position: relative;
  padding-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width:100%;
}
.home .container .vc_row.wpb_row.vc_row-fluid.vc_custom_1504880319686.vc_row-has-fill{overflow: visible;}

.fetures-place i:before{
  font-size: 70px;
  margin-left: 0;
  color: #264b65;
  z-index: 3;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fetures-place:hover i:before{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.fetures-place h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #292929;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: -5px;
  margin-bottom: 13px;
  z-index: 3;
  position: relative;
}

.fetures-place:hover h5{
  color: #fff;
}
.fetures-place p{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #515151;
  margin-top: -7px;
  z-index: 3;
  position: relative;
}


.fetures-place:hover p{
  color: #fff;
}

.fetures-place a{
  display: block;
  margin: 0 -20px;
  padding: 11px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 35px;
  background: rgb(55,90,113);
  background: rgb(12,40,59);
  background: -moz-linear-gradient(top, rgba(12,40,59,1) 0%, rgba(0,35,58,1) 100%);
  background: -webkit-linear-gradient(top, rgba(12,40,59,1) 0%,rgba(0,35,58,1) 100%);
  background: linear-gradient(to bottom, rgba(12,40,59,1) 0%,rgba(0,35,58,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c283b', endColorstr='#00233a',GradientType=0 );
  opacity: 1;
  z-index: 3;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}


.fetures-place a:hover{
  background: rgb(18,42,58); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(18,42,58,1) 0%, rgba(15,40,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(18,42,58,1) 0%,rgba(15,40,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(18,42,58,1) 0%,rgba(15,40,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122a3a', endColorstr='#0f2838',GradientType=0 );
  color: #fff;
  text-decoration: none;
}


.fetures-place{
  display: inline-block;
  border: none;
  position: relative;
  overflow: hidden;
}
.fetures-place span{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: #7b868e;
  font-size: 13px;
  text-transform: capitalize;
  z-index: 3;
  position: relative;
}
.fetures-place:hover span{
  color: #a4b0b9;
}

.fetures-place:before {
  content: '';
  background: #0c283b;
  width: 900px;
  height: 600px;
  position: absolute;
  -webkit-transform: translate(-1000px, -400px) rotate(130deg);
  transform: translate(-1000px, -400px) rotate(130deg);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index:0;
}
.fetures-place:after {
  content: attr(data-word);
  color: white;
  font-size: 2em;
  position: relative;
  z-index: 100;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 200;
}
.fetures-place:hover:after {
  font-size: 2.2em;
}
.fetures-place:hover:before {
  -webkit-transform: translate(-290px, -400px) rotate(130deg);
  transform: translate(-290px, -400px) rotate(130deg);
}